$sm: 450px; // SMALL SCREEN SIZES
// $sm: 576px; // SMALL SCREEN SIZES
$md: 768px; // MEDIUM SCREEN SIZES
// $lg: 992px; //TABLET SCREEN SIZES
$lg: 1200px; // DESKTOP SCREEN SIZES

//=============================================
// RESPONSIVE iCLASS MINIMUN MEDIA QUERY WIDTH
//=============================================
@mixin breakpoint-up($breakpoint) {
  @if $breakpoint==sm {
    @media only screen and (min-width: $sm) {
      @content;
    }
  } @else if $breakpoint==md {
    @media only screen and (min-width: $md) {
      @content;
    }
  } @else if $breakpoint==lg {
    @media only screen and (min-width: $lg) {
      @content;
    }
  }
}

@mixin breakpoint-down($breakpoint) {
  @if $breakpoint==sm {
    @media only screen and (max-width: $sm) {
      @content;
    }
  } @else if $breakpoint==md {
    @media only screen and (max-width: $md) {
      @content;
    }
  } @else if $breakpoint==lg {
    @media only screen and (max-width: $lg) {
      @content;
    }
  }
}
