:root {
  --main-background: #F4F5FA;
  --primary-100: #5570F1;
  --clr-black-60: #45464E; // --black-60
  --clr-black-100: #1C1D22; // --black-100
  --clr-black-10: #BEC0CA; // --black-10
  --clr-black-30: #8B8D97; // black-30
  --clr-red: #CC5F5F; // action-red
  --sub-heading-3-font-family: 'Poppins', 'sans-serif';
  --sub-heading-3-medium-font-weight: 500;
  --label-1-regular-font-weight: 400;
  --sub-heading-3-medium-font-size: 20px;
  --paragraph-2-regular-font-family: 'Inter', 'sans-serif';
  --label-1-regular-font-family: 'Inter', 'sans-serif';
  --paragraph-2-regular-font-weight: 400;
  --paragraph-2-regular-font-size: 14px;
  --stroke: #f1f3f9;
}
