@use '@/assets/scss/breakpoint' as *;
@use '@/assets/scss/variables.scss' as *;

.text-black-30 {
  color: var(--clr-black-30);
}

.text-red {
  color: var(--clr-red);
}

.mr-7 {
  margin-right: 7px;
}

.dashboard {
  display: block;
  background: var(--main-background);
  @include breakpoint-up(md) {
    display: flex;
    // width: 90rem;
  }

  .container {
    display: block;
    padding: 0 10px;
    @include breakpoint-up(md) {
      display: grid;
      grid-template-areas:
        'sales customers allorders'
        'marketing products orders'
        'marketing cart orders'
        'chart chart orders';
      grid-gap: 20px;
      // align-items: stretch;
      grid-auto-rows: auto;
      width: -webkit-fill-available;
      // align-items: flex-start;
      margin: 0 20px;
      font-family: var(--label-1-regular-font-family, 'Inter');
      font-weight: var(--label-1-regular-font-weight, 400);
      font-size: var(--label-1-regular-font-size, 0.8rem);
      color: var(--black-100, #1c1d22);
      padding: 0;

      .sales-graph-chart {
        grid-area: chart;
        grid-column: 1 / span 2;
      }
      .all-orders-card {
        grid-area: allorders;
      }
      .sales-card {
        grid-area: sales;
      }
      .customers-card {
        grid-area: customers;
      }
      .order-summary {
        grid-row: 2 / span 3;
        grid-area: orders;
      }
      .abandoned-cart-card {
        grid-area: cart;
      }
      .products-card {
        grid-area: products;
      }
      .marketing-card {
        grid-area: marketing;
        grid-row: 2 / span 2;
      }
    }

    .dashboard-summary-card {
      border-radius: 12px;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 11px 15px;
      margin-bottom: 1rem;
      @include breakpoint-up(md) {
        margin-bottom: 0;
      }

      &.sales-graph-chart {
        margin-bottom: 0 !important;
      }

      &.order-summary {
        padding: 20px;

        .recent-orders {
          font-family: var(--paragraph-1-medium-font-family, 'Inter');
          font-weight: var(--paragraph-1-medium-font-weight, 500);
          font-size: var(--paragraph-1-medium-font-size, 1rem);
          color: var(--black-60, #45464e);
          margin-bottom: 23px;
          // margin-bottom: 1.4rem;
        }

        .order-card {
          border-bottom: 1px solid var(--stroke, #f1f3f9);
          margin-bottom: 12px;
          display: flex;
          padding-bottom: 12px;
          // margin-bottom: 0.8rem;
          &:last-child {
            margin-bottom: 0;
          }

          .phone__img {
            border-radius: 0.5rem;
            border: 0.1rem solid var(--stroke, #f1f3f9);
            margin-right: 0.9rem;
            width: 3.1rem;
            height: 3.1rem;
            &.gold {
              background: url('@/assets/images/PNGs/phone-gold.png') 50% / cover
                no-repeat;
            }
            &.black {
              background: url('@/assets/images/PNGs/phone-black.png') 50% /
                cover no-repeat;
            }
          }

          .order-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3px;
            flex: 1;
            // margin-bottom: 0.2rem;
            // width: 20rem;
            // height: fit-content;

            .order-title {
              margin-bottom: 10px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              // margin: 0 0.1rem 0.6rem 0;

              .order-name {
                font-family: var(--paragraph-2-regular-font-family, 'Inter');
                font-weight: var(--paragraph-2-regular-font-weight, 400);
                font-size: var(--paragraph-2-regular-font-size, 0.9rem);
                color: var(--black-60, #45464e);
              }

              .order-date {
                // margin-bottom: 0.1rem;
                margin-bottom: 2px;
                font-family: var(--label-1-regular-font-family, 'Inter');
                font-weight: var(--label-1-regular-font-weight, 400);
                font-size: var(--label-1-regular-font-size, 0.8rem);
                color: var(--black-20, #a6a8b1);
              }
            }

            .order-details {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;

              .order-price {
                font-family: var(--paragraph-2-medium-font-family, 'Inter');
                font-weight: var(--paragraph-2-medium-font-weight, 500);
                font-size: var(--paragraph-2-medium-font-size, 14px);
                color: var(--black-80, #33343a);
              }

              .order-status {
                border-radius: 8px;
                padding: 2px 15px;
                font-family: var(--label-1-regular-font-family, 'Inter');
                font-weight: var(--label-1-regular-font-weight, 400);
                font-size: var(--label-1-regular-font-size, 0.8rem);
                &.pending {
                  color: var(--action-red, #cc5f5f);
                  background: #f57e771f;
                }

                &.completed {
                  color: var(--action-green, #519c66);
                  background: #32936f1f;
                }
              }
            }
          }
        }
      }

      .marketing-chart {
        margin: 21px 38px;
      }

      .summary-heading {
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint-up(md) {
          // width: 17.9rem;
        }

        &.marketing {
          margin-bottom: 12px;
        }

        &.sales-graph {
          .summary-of-sales {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .summary {
              margin: 5.5px 21px 5.5px 0;
              font-family: var(--paragraph-1-medium-font-family, 'Inter');
              font-weight: var(--paragraph-1-medium-font-weight, 500);
              font-size: var(--paragraph-1-medium-font-size, 1rem);
              color: var(--black-60, #45464e);
              // margin: 0.3rem 1.3rem 0.3rem 0;
            }

            .sales-dropdown--container {
              border-radius: 0.5rem;
              background: rgba(85, 112, 241, 0.08);
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 5px 11.5px;
              // padding: 0.4rem 1rem 0.4rem 0.8rem;

              .sales {
                margin-right: 20px;
                font-family: var(--paragraph-2-regular-font-family, 'Inter');
                font-weight: var(--paragraph-2-regular-font-weight, 400);
                font-size: var(--paragraph-2-regular-font-size, 0.9rem);
                color: var(--primary-100);
              }

              .blue-chevron-down-icon {
                display: block;
                padding: 7.5px 5px;
              }
            }
          }
        }

        .dashboard-summary--icon {
          border-radius: 8px;
          // width: 36px !important;
          // height: 36px !important;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 8px !important;

          img {
            width: 20px !important;
            height: 20px !important;
          }
        }
      }

      .sales-bar-chart {
        display: flex;
        justify-content: space-between;
        // width: fit-content;

        .y-axis {
          display: flex;
          flex-direction: column;
          margin-bottom: 60px;
          align-items: center;

          .y-axis-item {
            display: inline-block;
            margin-bottom: 37px;
            font-family: var(--label-2-regular-font-family, 'Inter');
            font-weight: var(--label-2-regular-font-weight, 400);
            font-size: var(--label-2-regular-font-size, 0.7rem);
            color: var(--black-20, #a6a8b1);
            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .bar--wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;

          .bar {
            border-radius: 50px;
            background: #eef0fa;
            height: 241px;
            width: 13px;
            margin: 0 13.5px 19px 13.5px;
            position: relative;
            .blue-bar {
              border-radius: 50px;
              background: var(--primary-100);
              width: 13px;
              position: absolute;
              bottom: 0;
              &.blue-bar-1 {
                height: 211px;
              }
              &.blue-bar-2 {
                height: 84px;
              }
              &.blue-bar-3 {
                height: 154px;
              }
              &.blue-bar-4 {
                height: 51px;
              }
              &.blue-bar-5 {
                height: 196px;
              }
              &.blue-bar-6 {
                height: 106px;
              }
              &.blue-bar-7 {
                height: 196px;
              }
            }
          }

          .bar-chart-label {
            font-family: var(--label-2-regular-font-family, 'Inter');
            font-weight: var(--label-2-regular-font-weight, 400);
            font-size: var(--label-2-regular-font-size, 0.7rem);
            color: var(--black-10, #bec0ca);
          }
        }
      }

      .marketing-legend--container {
        display: flex;
        justify-content: space-between;

        .legend--wrapper {
          display: flex;
          align-items: center;
          .indicator {
            border-radius: 6px;
            width: 8px;
            height: 8px;
            // margin: 2.5px 10px 2.5px 0;
            margin-right: 10px;
            // margin: 0.2rem 0.5rem 0.2rem 0;
            &.acquisition {
              background: var(--primary-100);
            }

            &.purchase {
              background: var(--primary-50, #97a5eb);
            }

            &.retention {
              background: var(--secondary-100, #ffcc91);
            }
          }
          .legend-text {
            font-family: var(--label-2-regular-font-family, 'Inter');
            font-weight: var(--label-2-regular-font-weight, 400);
            font-size: var(--label-2-regular-font-size, 0.7rem);
            color: var(--black-20, #a6a8b1);
          }
        }
      }

      .card-details--wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: flex-start;
        // width: fit-content;
        width: 100%;

        .card-details-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .header {
            font-family: var(--paragraph-2-regular-font-family, 'Inter');
            font-weight: var(--paragraph-2-regular-font-weight, 400);
            font-size: var(--paragraph-2-regular-font-size, 0.9rem);
            color: var(--black-30, #8b8d97);
            margin-bottom: 8px;

            &.all-products {
              // margin-bottom: 0.5rem;
              display: inline-block;
              // overflow-wrap: break-word;
              // font-family: var(--paragraph-2-regular-font-family, 'Inter');
              // font-weight: var(--paragraph-2-regular-font-weight, 400);
              // font-size: var(--paragraph-2-regular-font-size, 0.9rem);
              color: var(--white, #ffffff);
            }
          }

          .header-text-active--wrapper {
            display: flex;
            align-items: center;
          }

          .header-text-active {
            margin-right: 7px;
            overflow-wrap: break-word;
            font-family: var(--sub-heading-3-font-family, 'Poppins');
            font-weight: var(--sub-heading-3-medium-font-weight, 500);
            font-size: var(--sub-heading-3-medium-font-size, 1.3rem);
            color: var(--black-60, #45464e);
            &.all-products {
              color: var(--white, #ffffff);
            }
          }

          .percentage {
            margin: 7.5px 0;
            display: inline-block;
            overflow-wrap: break-word;
            font-family: var(--label-1-regular-font-family, 'Inter');
            font-weight: var(--label-1-regular-font-weight, 400);
            font-size: var(--label-1-regular-font-size, 0.8rem);
            color: var(--action-green, #519c66);

            &.all-products {
              color: var(--primary-10, #dbdeee);
            }
          }
        }
      }

      .filter {
        display: flex;
        align-items: center;
        margin: 10px 0;

        .this-week {
          margin-right: 7px;
          // margin-right: 0.7rem;
          overflow-wrap: break-word;
          font-family: var(--label-1-regular-font-family, 'Inter');
          font-weight: var(--label-1-regular-font-weight, 400);
          font-size: var(--label-1-regular-font-size, 0.8rem);
          color: var(--black-10, #bec0ca);
        }

        .chevron-down {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 3px;
          // width: 16px;
          // height: 16px;
        }

        .last-7-days {
          margin-right: 7px;
          font-family: var(--label-1-regular-font-family, 'Inter');
          font-weight: var(--label-1-regular-font-weight, 400);
          font-size: var(--label-1-regular-font-size, 0.8rem);
          color: var(--black-100, #1c1d22);
          // margin-right: 0.7rem
        }
      }

      .sales-icon {
        background: rgba(85, 112, 241, 0.122);
        // background: rgba(85, 112, 241, 0.12);
      }

      .customers-icon {
        background: rgba(255, 204, 145, 0.16);
      }

      .all-orders-icon {
        background: rgba(255, 204, 145, 0.16);
      }

      .inventory-card-icon {
        background: rgba(255, 255, 255, 0.16);
      }

      .cart-icon {
        background: rgba(255, 204, 145, 0.16);
      }

      .user-1 {
        width: 1rem;
        height: 0.9rem;
      }
    }

    .products-card {
      // background: #5570F1;

      border-radius: 12px;
      background: var(--primary-100);
      // margin-bottom: 1.2rem;
      display: flex;
      flex-direction: column;
      padding: 11px 15px;
      margin-bottom: 1rem;
      @include breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }
  // }
}
